extends layout

block content
    br
    div(style="text-align: center;")
        div(style="display: inline-block; width: 282px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
            h2(style="margin-bottom: 20px;") Cite
            if citation
                if citation.valid
                    div(class="form-group has-success")
                        input(disabled, type="text", name="url", class="form-control form-control-success",  placeholder="Url", value="#{citation.url}",style="width:85%; margin: auto; border-color: #5cb85c; padding-right: 2.25rem; background-repeat: no-repeat; background-position: center right .5625rem; background-size: 1.125rem 1.125rem; background-image: url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E\");")
                        small(class="form-text text-muted") Page loaded and processed.
                else
                    div(class="form-group has-warning")
                        input(disabled, type="text", name="url", class="form-control form-control-warning",  placeholder="Url", value="#{citation.url}", style="width:85%; margin: auto; border-color: #d9534f; padding-right: 2.25rem; background-repeat: no-repeat; background-position: center right .5625rem; background-size: 1.125rem 1.125rem; background-image: url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E\");")
                        if citation.error == "loadurl"
                            small(class="form-text text-muted") Couldn't load page, #[a(href="/cite") reset URL].
                        else if citation.error == "redirect"
                            small(class="form-text text-muted") Page redirected, #[a(href="./cite") reset URL].
                form(action="/cite", method="get")
                    input(type="hidden", name="stage", value="final")
                    input(type="hidden", name="sourceUrl", value="#{citation.url}")
                    input(type="hidden", name="sourceType", value="#{citation.sourceType}")
                    div(class="form-group")
                        input(aria-describedby="sourceAuthorHelp", type="text", name="sourceAuthor", value="#{citation.sourceAuthor}", placeholder="Author", class="form-control", style="width:85%; margin: auto;")
                        small(id="sourceAuthorHelp" class="form-text text-muted") Last name, first name MI
                    div(class="form-group")
                        input(aria-describedby="sourceTitleHelp", type="text", name="sourceTitle", value="#{citation.sourceTitle}", placeholder="Title", class="form-control", style="width:85%; margin: auto;")
                        small(id="sourceTitleHelp" class="form-text text-muted") Article name, book name, etc.
                    div(class="form-group")
                        input(aria-describedby="containerTitleHelp", type="text", name="containerTitle", value="#{citation.containerTitle}", placeholder="Website title", class="form-control", style="width:85%; margin: auto;")
                        small(id="containerTitleHelp" class="form-text text-muted") Website name, journal name, etc.
                    div(class="form-group")
                        input(aria-describedby="publisherTitleHelp", type="text", name="publisherTitle", value="#{citation.publisherTitle}", placeholder="Publisher / Sponsor", class="form-control", style="width:85%; margin: auto;")
                        small(id="publisherTitleHelp" class="form-text text-muted") Company name, sponsor name, etc.
                    div(class="form-group")
                        input(aria-describedby="sourcePublicationDateHelp", type="text", name="sourcePublicationDate", value="#{citation.sourcePublicationDate}", placeholder="Publication date", class="form-control", style="width:85%; margin: auto;")
                        small(id="sourcePublicationDateHelp" class="form-text text-muted") DD MON. YYYY or YYYY
                    button(type="submit", class="btn btn-primary", class="form-control", style="width:85%; margin: auto;") Finalize citation
            else
                form(action="/cite", method="get")
                    input(type="hidden", name="stage", value="url")
                    div(class="form-group")
                        input(type="text", name="sourceUrl", class="form-control", placeholder="Url", style="width:85%; margin: auto;")
                    div(class="form-group")
                        select(aria-describedby="sourceTypeHelp", class="form-control custom-select", name="sourceType" style="width:85%; margin: auto;", onchange="updateType();")
                            option(value="website", selected) Website
                            option(value="book") Book
                        //small(id="sourceTypeHelp", class="form-text text-muted")
                    button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Create citation
    if citations && citations.length > 0
        br
        div(style="text-align: center;")
            div(style="display: inline-block; width: 282px; padding: 15px 30px 10px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
                h5(style="margin-bottom: 20px;") My recent citations
                hr
                each citation in citations.slice(0, 5)
                    a(href="/formatted?citation=#{citation.id}")!= (citation.sourceTitle ? (citation.sourceType == "book" ? "<i>" + citation.sourceTitle + "</i>" : citation.sourceTitle) : citation.sourceUrl)
                    hr
                if citations.length > 5
                    h5 #[a(href="/formatted", style="color: #000;") View all]