extends layout

block content
    br
    div(style="text-align: center;")
        if login
            div(style="display: inline-block; max-width: 500px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
                h2(style="margin-bottom: 20px;") Cite
                if citation
                    if citation.text
                        p(style="font-family: TimesNewRoman; font-size: 12px; font-style: normal; font-variant: normal;") #{citation.text}
                        br
                        form(action=".", method="get")
                            button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Back
                    else
                        if citation.valid
                            div(class="form-group has-success")
                                input(disabled, type="text", name="url", class="form-control form-control-success",  placeholder="Url", value="#{citation.url}",style="width:85%; margin: auto; border-color: #5cb85c; padding-right: 2.25rem; background-repeat: no-repeat; background-position: center right .5625rem; background-size: 1.125rem 1.125rem; background-image: url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E\");")
                                small(class="form-text text-muted") Page loaded and processed.
                        else
                            div(class="form-group has-warning")
                                input(disabled, type="text", name="url", class="form-control form-control-warning",  placeholder="Url", value="#{citation.url}", style="width:85%; margin: auto; border-color: #d9534f; padding-right: 2.25rem; background-repeat: no-repeat; background-position: center right .5625rem; background-size: 1.125rem 1.125rem; background-image: url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E\");")
                                if citation.error == "loadurl"
                                    small(class="form-text text-muted") Couldn't load page, #[a(href=".") reset URL].

                        form(action=".", method="get")
                            input(type="hidden", name="stage", value="final")
                            input(type="hidden", name="url", value="#{citation.url}")
                            input(type="text", name="author", value="#{citation.sourceAuthor}", placeholder="Author", class="form-control", style="width:85%; margin: auto;")
                            br
                            input(type="text", name="sourceTitle", value="#{citation.sourceTitle}", placeholder="Title", class="form-control", style="width:85%; margin: auto;")
                            br
                            input(type="text", name="sourceContainerTitle", value="#{citation.sourceContainerTitle}", placeholder="Website title", class="form-control", style="width:85%; margin: auto;")
                            br
                            input(type="text", name="sourcePublisher", placeholder="Publisher / Sponsor", class="form-control", style="width:85%; margin: auto;")
                            br
                            input(type="text", name="sourcePublicationDate", placeholder="Publication date", class="form-control", style="width:85%; margin: auto;")
                            br
                            button(type="submit", class="btn btn-primary", class="form-control", style="width:85%; margin: auto;") Finalize citation
                        //br
                        //form(action=".", method="get")
                        //    button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Reset
                else
                    form(action=".", method="get")
                        input(type="hidden", name="stage", value="url")
                        input(type="text", name="url", class="form-control", placeholder="Url", style="width:85%; margin: auto;")
                        br
                        button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Create citation
        else
            div(style="display: inline-block; max-width: 500px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
                h4(style="margin-bottom: 20px;") Log In
                form(action="/login", method="post")
                    input(type="text", name="name", class="form-control", placeholder="Username", style="width:85%; margin: auto;")
                    br
                    input(type="password", name="password", class="form-control", placeholder="Password", style="width:85%; margin: auto;")
                    br
                    select(class="form-control", name="account", style="width:85%; margin: auto;")
                        option(value="existing") Existing account
                        option(value="new") New account
                        option(value="school" disabled) School district account
                    br
                    button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Log In